/* Universal Styles */

body {
    margin: 0px;
    padding: 0px;
    background-color: black;
}

/* Header Section */

header {
    display: flex;
    align-items: center;
    position: fixed;
    z-index: 1;
    width: 100%;
    border-bottom: 1px solid white;
    padding: 10px 10px;
    background-color: black;
}

.header-image {
    display: flex;
    align-items: left;
    flex-grow: 1;
}

nav span {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 25px;
    font-size: 25px;
    font-family: Verdana, sans-serif;
}

.header span a {
    color: white;
}

/* Main Section */

main {
    display: flex;
}

.main-image {
    display: inline-block;
}

.main {
    display: inline-flex;
    flex-direction: column;
    padding-top: 105px;
    padding-right: 1px;
    padding-left: 68px;
}